# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build

# Output
bin

# VC++
*.vcxproj
*.vcxproj.filters
*.sln
x32
x64
cpp-blocks.dir

# VSCode
.vscode/.cmaketools.json
